<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="WxComplexFrame">
		<title>Complex Number Calculator</title>
		<pos>-1,-1</pos>
		<size>417,179</size>
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<id_arg>0</id_arg>
		<object class="wxButton" name="ID_BUTTON_SUM" variable="ButtonSum" member="yes">
			<label>+</label>
			<pos>16,16</pos>
			<size>30,30</size>
			<handler function="OnButtonSumClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_SUB" variable="ButtonSub" member="yes">
			<label>-</label>
			<pos>16,56</pos>
			<size>30,30</size>
			<handler function="OnButtonSubClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_MUL" variable="ButtonMul" member="yes">
			<label>X</label>
			<pos>16,96</pos>
			<size>30,30</size>
			<handler function="OnButtonMulClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_DIV" variable="ButtonDiv" member="yes">
			<label>/</label>
			<pos>16,136</pos>
			<size>30,30</size>
			<handler function="OnButtonDivClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
			<pos>72,96</pos>
			<size>336,5</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_NUM1_REAL" variable="TextCtrlNum1Real" member="yes">
			<pos>96,16</pos>
			<style>wxTE_RIGHT</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_NUM2_REAL" variable="TextCtrlNum2Real" member="yes">
			<pos>96,56</pos>
			<style>wxTE_RIGHT</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_NUM1_IMG" variable="TextCtrlNum1Img" member="yes">
			<pos>264,16</pos>
			<style>wxTE_RIGHT</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_NUM2_IMG" variable="TextCtrlNum2Img" member="yes">
			<pos>264,56</pos>
			<style>wxTE_RIGHT</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT_RES_REAL" variable="StaticTextResReal" member="yes">
			<label>0</label>
			<pos>96,136</pos>
			<size>120,20</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT_RES_IMG" variable="StaticTextResImg" member="yes">
			<label>0</label>
			<pos>264,136</pos>
			<size>120,20</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>N1:</label>
			<pos>64,24</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>N2:</label>
			<pos>64,64</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>+</label>
			<pos>232,24</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>+</label>
			<pos>232,64</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>i</label>
			<pos>256,24</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>i</label>
			<pos>256,64</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Result:</label>
			<pos>72,112</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>+</label>
			<pos>232,136</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>i</label>
			<pos>256,136</pos>
		</object>
	</object>
</wxsmith>
